.form-control.ng-valid.ng-touched {
    border: 2px solid lightgreen;
}

.form-control.ng-invalid.ng-touched {
    border: 2px solid crimson;
}

.formError {
    color: crimson;
    font-weight: 700;
}